:root {
  --font: "Raleway" sans-serif;
  --font-size: 10px;
  --white: #ffffff;
  --black: #000000;
  --blue: steelblue;
  --red: red;
  --grey: lightgrey;
  --light-green: #1abc9c;
}

/* General chart formatting */
body,
html {
  font-family: var(--font);
  margin: 0;
}

svg {
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
}

.line {
  fill: none;
  stroke: var(--blue);
  stroke-width: 1.5px;
}

.chart_grid .tick {
  stroke: var(--grey);
  opacity: 0.7;
}

.chart_grid path {
  stroke-width: 0;
  shape-rendering: crispEdges;
}

.chart_grid .temp_y_label text {
  font-size: var(--font-size);
  fill: var(--grey);
  shape-rendering: crispEdges;
}

.legend_item text {
  font-size: var(--font-size);
  fill: var(--grey);
  shape-rendering: crispEdges;
}

.axis_label text {
  font-size: var(--font-size);
  fill: var(--grey);
  shape-rendering: crispEdges;
  text-transform: uppercase;
  stroke: none;
}

/*line plot*/

.line_points {
  opacity: 0;
}

/*timeseries*/

.timeseries_line {
  stroke-width: 3px;
  fill: transparent;
}

/*bar chart*/

.bar {
  fill: var(--blue);
  stroke: none;
}

/*thermometers*/

.glass {
  stroke: none;
  fill: var(--grey);
}

.glass-gap {
  stroke: none;
  fill: var(--white);
}

.mercury {
  stroke: none;
  fill: var(--red);
}

/*tree*/

.treenode circle {
  fill: var(--white);
  stroke: var(--blue);
  stroke-width: 1.5px;
}

.treenode {
  font-size: var(--font-size);
  font-family: var(--font);
  fill: var(--grey);
}

.treelink {
  fill: none;
  stroke: var(--grey);
  stroke-width: 1.5px;
}

/*AnimatedDensity*/

.block {
  fill: var(--light-green);
}

/*force*/

.forcenode {
  stroke: var(--white);
  stroke-width: 1.5px;
  fill: var(--blue);
}

.forcelink {
  stroke: var(--grey);
  stroke-opacity: 0.6;
}

/* Tip formatting */

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 8px;
  background: var(--grey);
  color: var(--white);
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: var(--font-size);
  width: 100%;
  line-height: 1;
  color: var(--grey);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/*Gantt elements */

.task {
  fill: var(--blue);
  stroke: none;
}

.venn-circle path {
  stroke: var(--black);
  stroke-width: 2px;
}

.dot {
  fill: var(--blue);
}
.axis-label {
  font-size: var(--font-size);
}
.grid line {
  stroke: var(--grey);
}

.dot {
  fill: var(--blue);
  stroke: var(--black);
  stroke-width: 1px;
}
.axis-label {
  font-size: var(--font-size);
  font-weight: bold;
}
.grid line {
  stroke: var(--grey);
}

.box {
  fill: var(--blue);
  stroke: var(--black);
  stroke-width: 2;
}
.whisker {
  stroke: var(--black);
  stroke-width: 2;
}
.median {
  stroke: var(--red);
  stroke-width: 2;
}
.outlier {
  fill: var(--red);
  stroke: var(--black);
}
